.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensure the box doesn't touch the edge of the screen */
.tva-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px; /* Add padding to prevent touching the screen edges */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.tva-title {
  color: #ff8752;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0; /* Add margin to space out the titles vertically */
}

/* Adjust font size for smaller screens */
@media (max-width: 1200px) {
  .tva-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .tva-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .tva-title {
    font-size: 1.5rem;
  }
}

.tva-title:hover {
  background-color: orange;
  color: black;
}
